{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<style>
  .md-header {
    position: sticky
  }

  .md-main__inner {
    margin: 0
  }

  .md-content {
    display: none
  }

  @media screen and (min-width:60em) {
    .md-sidebar--secondary {
      display: none
    }
  }

  @media screen and (min-width:76.25em) {
    .md-sidebar--primary {
      display: none
    }
  }

  code[class="language-python"] {
        font-size: 0.75rem;
  }

  code[class="language-javascript"] {
        font-size: 0.75rem;
  }
  
</style>

<!--documentation-->
<section class="section-dark-body w-100">
  <div class="md-grid conteiner-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text conteiner">
      <div class="conteiner-row">
        <p class="h1 text-xs-center t-b">
          <span style= "color:#306D64;">Gigaflow</span>
        </p>
      </div>
      <img src="assets/gf-icon-transparent-small.png"
        class="laverage-header-img d-lg-none d-xl-none d-md-none d-sm-none d-xs-none mx-auto" />
      <p class="h2-3 text-xs-center spacing t-b mb-5" style="font-family:Sans-serif; color:#A4CB6A;" id="animated-text"></p>
      <div class="conteiner-row conteiner-xs">
        <!-- <button type="button" title="{{ page.next_page.title | e }}"
        onclick="scrollToLearnMoreSection()"
          class="btn-pgreen btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          How it works
        </button> -->
        <a href="/getting-started/" class="btn-pgreen btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow btn">
          Learn More
        </a>
        <button type="button" title="{{ page.next_page.title | e }}" 
          onclick="window.open('https://dl.acm.org/doi/10.1145/3676641.3716000', '_blank')"
          class="btn-pgreen btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          ASPLOS'25 Paper
        </button>
        <button type="button" title="{{ page.next_page.title | e }}"
          onclick="window.open('https://www.youtube.com/watch?v=tewxcn6uBHY', '_blank')"
          class="btn-pgreen btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Watch the Talk
        </button>
        <button type="button" title="{{ page.next_page.title | e }}" 
          onclick="window.open('https://github.com/gigaflow-vswitch', '_blank')"
          class="btn-pgreen btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Repository
        </button>
      </div>
    </div>
    <div class="mt-4 pl-3">
      <img src="assets/gf-icon-transparent-small.png" style="width: 55%; height: auto;"/>
    </div>
  </div>
</section>

<section class="section-white-body w-100" , id="howwork">
  <div class="text-align-center t-b text-dark h1 mt-5">
    <p>How does Gigaflow work?</p>
  </div>
  <div class="center-container my-2">
    <img src="assets/gigaflow-example-landing-page.gif" class="howdoeswork-img my-xs-5 my-sm-5 my-md-5" />
  </div>
</section>

<section class="section-lgreen w-100" id="howgood">
  <div class="text-align-center t-b text-white h1 my-5">
    <p>How Good is Gigaflow?</p>
  </div>
  <div class="main-container">

    <div class="feature-container">
      <div class="feature-text">
          <h2>Higher Cache Hit Rate</h2>
          <p class="description">
            Gigaflow delivers up to 51% higher cache hit rate (avg. 25%) on *real-world pipelines
          </p>
      </div>
      <div class="feature-image">
        <img src="assets/eval-hit-rate.svg" alt="Cache Misses">
      </div>
    </div>

    <div class="feature-container">
      <div class="feature-text">
        <h2>Lower Cache Misses</h2>
        <p class="description">
            Gigaflow reduces cache misses by up to 90% and uses 18% lesser cache entries
        </p>
      </div>
      <div class="feature-image">
        <img src="assets/eval-cache-misses.svg" alt="Cache Misses">
      </div>
    </div>

    <div class="feature-container">
      <div class="feature-text">
          <h2>Bigger Rule Space Coverage</h2>
          <p class="description">
            Gigaflow captures up to 450x bigger rule space and thrives in dynamic environments
          </p>
      </div>
      <div class="feature-image">
        <img src="assets/eval-dynamic-workloads.svg" alt="Cache Misses">
      </div>
    </div>
  </div>

  <p class="text-align-center h3 mb-4">
    * Gigaflow (GF) compared against Megaflow (MF) on 
    <a href="https://dl.acm.org/doi/10.1145/3676641.3716000" style="color:#A4CB6A; text-decoration: underline;">
      real-world pipelines in high/low locality environments
    </a>
  </p>

</section>

<section class="section-white-body w-100" id="howwork">
  <div class="text-align-center t-b text-dark h1 mt-5">
    <p>What is the key insight?</p>
  </div>
  <div class="center-container my-2">
    <img src="assets/gigaflow-example-landing-page.gif" class="howdoeswork-img my-xs-5 my-sm-5 my-md-5" />
  </div>
</section>

<section class="section-dark-body w-100" id="contactus">
  <div class="text-align-center t-b text-primary-color h1-2 mt-2">
    <p>Contact Us</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 mt-3 mb-4">
    <a href="mailto:zulfiqaa@umich.edu" target="_blank" class="custom-link">
      <i class="fa-solid fa-envelope fa-2x"></i></a>
    <a href="https://nextgarch.github.io" target="_blank" class="custom-link">
      <i class="fa-solid fa-people-group fa-2x"></i></a>
    <a href="https://github.com/gigaflow-vswitch" target="_blank" class="custom-link">
      <i class="fa-brands fa-github fa-2x"></i></a>
    <a href="https://x.com/annus_zulfiqar" target="_blank" class="custom-link">
      <i class="fa-brands fa-twitter fa-2x"></i></a>
  </div>

</section>

{% endblock %}
